<div class = "mainNavBarContainer">
  <nav [@slideFromLeft] = "sideBarMenu" class = "mainNavBar">
    <div class = "mainNavBarHeadingContainer">
        <h1 class = "mainNavBarHeading"> Ashley <br> Malpica </h1>
    </div>
    <div class = "mainNavBarLinksListContainer">
      <ul class = "mainNavBarLinksList">
        <li class = "mainNavBarItem"> Home </li>
        <li class = "mainNavBarItem"> Biology Experience </li>
        <li class = "mainNavBarItem"> Tutoring Experience </li>
        <li class = "mainNavBarItem"> LinkedIn </li> 
      </ul>
    </div>
  </nav>
  <div class = "mainMenuButtonContainer">
    <h1 class = "mainMenuButton" (click) = "toggleSideNavMenu()"> &rsaquo; </h1>
  </div>
</div>