<div class = "mainNavBarContainer">
  <nav [@slideFromLeft] = "sideBarMenu" class = "mainNavBar">
    <div class = "mainNavBarHeadingContainer">
        <h1 class = "mainNavBarHeading"> Ashley <br> Malpica </h1>
    </div>
    <div class = "mainNavBarLinksListContainer">
      <ul class = "mainNavBarLinksList">
        <li class = "mainNavBarItem"> <a routerLink = "/home"> Home </a> </li>
        <li class = "mainNavBarItem"> <a routerLink = "/biologyExperience">Biology Experience </a> </li>
        <li class = "mainNavBarItem"> <a routerLink = "/tutorExperience"> Tutoring Experience </a> </li>
        <li class = "mainNavBarItem"> <a href = "https://www.linkedin.com/in/ashley-malpica/"> LinkedIn </a> </li> 
        <li class = "mainNavBarItem"> <a href = "#quickEducationInfoTab"> Education </a></li>
      </ul>
    </div>
  </nav>
  <div class = "mainMenuButtonContainer">
    <h1 class = "mainMenuButton" (click) = "toggleSideNavMenu()"> &#9776; </h1>
  </div>
</div>