.mainNavBarContainer {
    height: 100%;
    margin: 0 auto;
    display: block;
    z-index: 1;
    flex-wrap: nowrap;
    position: fixed;
    padding-right: 50px; 
}

.mainNavBar {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: block !important;
    float: left;  
    flex-wrap: wrap;
    position: relative;
}
.mainNavBarLinksListContainer {
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.904); 
    width: 100%;
    float: left;
    height: 100%;
}
.mainNavBarHeadingContainer {
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.904);
    float: left;
}

.mainNavBarHeading {
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    color: white;
}

.mainNavBarLinksList {
    display: block;
    padding: 0px !important;
}

.mainNavBarItem { 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    list-style: none;
    font-size: 1.5em;
    margin: 40px 0;
    display: block;

}
.mainMenuButtonContainer { 
    display: block;
    width: 50%;
    margin: 0 auto;
    float: left;
}
.mainMenuButton {
    color: white;
    background-color: rgba(0, 0, 0, 0.904);
    font-size: 2em;
    display: block;
    padding: 25px;
    width: 30px;
    position: relative;
    height: 20px;
    text-align: left;
    margin: 0px;
}

.mainMenuButton:hover { 
    cursor: pointer;
    color: goldenrod;
    transition: color 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}


.mainNavBarItem a:hover { 
    cursor: pointer;
    color: goldenrod;
    transition: color 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}

.mainNavBarItem a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 400px) {
    .mainNavBarLinksList {
        padding: 0px;
    }
    .mainNavBarHeading {
        font-size: 2em;
    }

    .mainNavBarItem {
        margin: 40px auto;
        font-size: 1.2em;
    }
}

@media only screen and (max-height: 560px) {
  
    .mainNavBarHeading { 
        font-size: 1.5em;
    }

    .mainNavBarItem {
        margin: 2px auto;
        font-size: 1em;
    }
}