<div class = "mainTutoringPageContainer">

    <div class = "mainTutoringWelcomeBanner">
        <h1 class = "mainTutoringWelcomeHeading"> Tutoring Experience </h1>
    </div>

        <div class = "mainTutoringInfoBannerContainer">
                <div class = "belizeSummaryPageContainer">
                        <div class = "titleContainer">
                            <h2 class = "researchTitle"> Tutoring in Mexico: <br> Modulo De Bienestar Social </h2>
                            <p class = "researchDate"> Summers 2011, 2012</p>
                            <p class = "researchPosition"> English Teacher </p>
                            <p class = "researchLocation"> Mexico </p>
                        </div>
                        <div class = "imgContainer">
                                <img id = "belizeImg" class = "mainBelizeBioImg" src = {{belizePictures[0].url}}>
                                <div class = "pictureElementsContainer">
                                    <div class = "imgDescriptionContainer">
                                        <p id = "belizeImgDescription" class = "pictureDescription"> {{ belizePictures[0].description }} </p>
                                    </div>
                                    <div class = "belizeSlideControlsContainer">
                                        <h1 class = "belizeSlideControl" (click) = "prevBelizeSlide()"> < </h1>
                                        <h1 class = "belizeSlideControl" (click) = "nextBelizeSlide()"> > </h1>
                                    </div>
                                </div>
                        </div>

                        <div class="summaryAndLinksContainer">
                            <div class="summaryContainer">
                                <p class="researchSummary">
                                    It was the summer of my sophomore year of high school that I realized I wanted to use my bilingualism to help others, but did not know how. 
                                    As I was communicating with my cousin in Mexico, she mentioned about her summer job at a children’s day camp in Mexico City and how they’re looking for volunteers to teach English.
                                     It was here that the opportunity arose. 
                                     With no communication with the children’s day camp and only having my cousin as a representative for them I found myself traveling alone to Mexico City with a few pens, 2 notebooks, and a highlighter. 
                                     On my first day of meeting the director, she showed me the classroom in which I would teach. 
                                     It was small, with metal countertops along all three walls and a medium whiteboard sitting on a chair in the front with one black marker. 
                                     The director greeted me and 
                                    told me I would be teaching 3 classes. 
                                    The first class included 20 children between the ages of 3 - 6 years old. 
                                    The second class included 19 children between the ages of 7 - 12. The third class included 15 children between the ages of 12 - 16. 
                                    She mentioned that there are no English books nor supplies for them at the moment. 
                                    After receiving all the information I was overwhelmed to know how many children I would be teaching and not having any workbooks or lessons planned by the director. 
                                    I immediately brainstormed a plan and created lessons. I made by hand over 50 pages of first day materials for all my students and went to the store to buy a  few pack of pencils. 
                                    Everyday I came home to correct their in-class work and to hand write all the worksheets for the students for 2 months. 
                                    <br><br>
                                    The following summer I decided to go back to Mexico, this time preparing worksheets ahead of time, hand-crafting posters with the English alphabet, numbers, days of the weeks, supplies, and children’s books donated to me by my elementary school.
                                     I left Mexico that year with experiences, care for the children I met, and interest to continue teaching. 
                                    
                                </p>
                            </div>
                            <div class="relevantLinksContainer">
                                <div class="relevantLinksHeaderContainer">
                                    <h3 class="relevantLinksHeader">  </h3>
                                </div>
                                <div class="relevantLinksListContainer">
                                    <ul class="relevantLinks">
                                        <li class="relevantLinkItem"> <a href="http://biology.sewanee.edu/resources/summer-and-international-programs/field-study-in-belize/">
                                                 </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div> 
          </div>
        



    <div class = "mainTutoringInfoBannerContainer">
        <div class = "gambusiaSummaryPageContainer">
          <div class = "titleContainer">
              <h2 class = "researchTitle"> Tutoring in Russia: <br> International Youth Centre </h2>
              <p class = "researchDate"> Summer 2014 </p>
              <p class = "researchPosition"> English & Spanish Teacher </p>
              <p class = "researchLocation"> Nerekhta, Russia </p>
          </div>


          <div class = "imgContainer">
                <img id = "gambusiaImg" class = "mainGambusiaBioImg" src = {{gambusiaAffinisPics[0].url}}>
                <div class = "pictureElementsContainer">
                    <div class = "imgDescriptionContainer">
                        <p id = "gambusiaImgDescription" class = "pictureDescription"> {{ gambusiaAffinisPics[0].description }} </p>
                    </div>
                    <div class = "gambusiaSlideControlsContainer">
                        <h1 class = "gambusiaSlideControl" (click) = "prevGambusiaSlide()"> < </h1>
                        <h1 class = "gambusiaSlideControl" (click) = "nextGambusiaSlide()"> > </h1>
                    </div>
                </div>
            </div>

            <div class="summaryAndLinksContainer">
                    <div class = "summaryContainer">
                            <p class = "researchSummary">
                                After my first year of undergraduate and taking a year of beginner Russian courses I decided to teach abroad and emerge myself with the language and culture. 
                                A Russian major student spoke to me about a program he recently applied to for the summer called Crossroads Eurasia. 
                                This program connected you to a English learning children’s summer camp in different parts in Russia. 
                                I was given the opportunity to teach at the International Youth Center in Nerehkta, Russia, in which I taught different age groups and levels of English with the objective to help the children pass a level on their Oxford English Exam. 
                                There were three sections to the 3 month period, the first section included teaching 3 classes a day of children between 7-10 year olds, the second section included teaching 3 classes a day to children between 11- 14 year olds, and the third section included 3 classes a day to children between 15 - 18 year olds. 
                                While in Russia I met the most humble, caring, and genuine people and till this day we keep in communication. 
                                I not only acquired new words and improved my Russian, but also developed my interest in teaching others. 
                            </p> 
                            
                          </div>
                          <div class = "relevantLinksContainer">
                                <div class = "relevantLinksHeaderContainer">
                                    <h3 class = "relevantLinksHeader"> Relevant Links </h3>
                                </div>
                                <div class = "relevantLinksListContainer">
                                    <ul class = "relevantLinks">
                                        <li class = "relevantLinkItem"> <a href = "http://www.sewanee.edu/media/academics/medical-and-health/pdf/JoSS-Advent-2016_spreads.pdf#page=22"> 
                                            Published Work: "Using Mosquito (Gambusia affinis) as bioindicator for environmental quality on the domain" </a></li>
                                    </ul>
                                </div>
                            </div>
            </div>
        </div> 
      </div>


      <div class = "mainTutoringInfoBannerContainer">
            <div class = "gambusiaSummaryPageContainer">
              <div class = "titleContainer">
                  <h2 class = "researchTitle"> Tutoring in Sewanee: <br> University of the South </h2>
                  <p class = "researchDate"> 2013 - 2017 </p>
                  <p class = "researchPosition"> Language Tutor </p>
                  <p class = "researchLocation"> Sewanee, TN </p>
              </div>
    
    
              <div class = "imgContainer">
                    <img id = "virologyImg" class = "mainGambusiaBioImg" src = {{virologyPictures[0].url}}>
                    <div class = "pictureElementsContainer">
                        <div class = "imgDescriptionContainer">
                            <p id = "virologyImgDescription" class = "pictureDescription"> {{ virologyPictures[0].description }} </p>
                        </div>
                    </div>
                </div>
    
                <div class="summaryAndLinksContainer">
                        <div class = "summaryContainer">
                                <p class = "researchSummary">
                                    Dr. Smith’s lab focused on murine strain of coronavirus, mouse hepatitus virus (MHV), as a model to understand the human pathogens SARS-CoV and MERS-CoV. 
                                    The objective was to study viral replication in murine brain cells with the goal to learn more about how coronaviruses evolve and replicate. 
                                    While under Dr. Smith’s lab assisted with restocking solutions for the lab’s experiments. 
                                    I monitored, maintained, and passaged murine cell culture. 
                                    I performed plaque assay, viral replication assay, and real-time quantitative PCR (RT-qPCR) to culture. 
                                    In addition, we attended bi-weekly meetings and provided feedback on assigned scientific literature. 
                                </p> 
                              
                                
                              </div>
                              <div class = "relevantLinksContainer">
                                    <div class = "relevantLinksHeaderContainer">
                                        <h3 class = "relevantLinksHeader"> Relevant Links </h3>
                                    </div>
                                    <div class = "relevantLinksListContainer">
                                        <ul class = "relevantLinks">
                                            <li class = "relevantLinkItem"> <a href = "http://clintsmith31.wixsite.com/coronavirus?fbclid=IwAR0vz_Bn3Bm-RrssZPxdKhY_DPDRTmdhg8MVyeRjFUtlvSDg_VX25vesHjQ"> 
                                                Virology in Sewanee  </a></li>
                                        </ul>
                                    </div>
                                </div>
                </div>
            </div> 
          </div>

</div>