.experienceInfoCardContainer {
   width: 33.33%;
   display: block;
   margin: 25px auto 0px auto;
   float: left;
}

.experienceTimelineInfoContainer { 
    width: 100%;
    flex-wrap: nowrap;
    margin: 0 auto;
    float:left;
    display: block;
}
.positionText { 
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 50px;
}
.placeText, .locationText, .durationText, .addressText {
    
    margin: 0 5px;
    text-align: center;
    display: block;
    font-family: 'Thasadith', sans-serif;

}

.placeText, .locationText {
   
}

.responsibilityListContainer {
    margin-top: 100px;
}
.responsibilityList {
    list-style: square;
}

.responsibilityInfo {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    margin-top: 1%;
}