<div class = "quickTutorExpContainer">
    <div *ngFor = "let quickTutorExp of quickTutorExps">
      <div class = "quickTutorExpImgsContainer">
        <div class = "quickTutorExpImgs">
            
        </div> 
        <div class = "quickTutorExpSummaryContainer">
          <div class = "summaryContainer">
              <p class = "quickTutorSummary"> {{quickTutorExp.summary}} </p>
          </div>
          <div class = "readMoreContainer">
              <h1 class = "readMore" routerLink = "/tutorExperience"> Learn More </h1>
          </div>
        </div>
        <div class = "quickTutorExpImgs2">
           
        </div> 
      </div>
    </div>
  </div>