.quickTutorExpContainer {
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
}
.quickTutorExpImgsContainer {
    width: 100%;
    margin: 0 auto 100px auto;
}
.quickTutorExpImgsContainer, .quickTutorExpSummaryContainer {
    display: block;
    margin: 0 auto;
    float: left;
}
.quickTutorExpSummaryContainer {
    width: 70%;
    height: 100%;
    
}

.quickTutorExpImgsContainer {
    width: 100%;
    height: 500px;
}
.quickTutorExpImgs, .quickTutorExpImgs2 {
    width: 15%;
    height: 100%;
    display: block;
    float: left;
    background-image: url("src/assets/imgs/ashKidSmiling.jpg");
    background-size: cover;
}
.quickTutorExpImgs2 {
    background-image: url("src/assets/imgs/ashKidBoyRussia.jpg");
    background-size: cover;
}
.tutorPhoto { 
    display: block;
    float: left;
    width: 10%;
    height: 100%;
    
    /* border: 1px solid black; */
}
.quickTutorSummary {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin: 5% 5% 0%;
    padding: 13%;
    border: 1px solid black;
    text-align: center;
}

.summaryContainer, .readMoreContainer { 
 display: block;
 margin: 0 auto;
 width: 100%;
 float: left;
}
.readMore {
    display: block;
    width: 50%;
    margin: 0 auto;
    
    background-color: white;
    color: black;
    font-size: 2em;
    font-family: 'Staatliches', cursive, sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0px 5px;
    margin: 2px auto !important;
}

.readMore:hover{
    cursor: pointer;
    text-shadow: 5px 5px 10px rgba(73, 73, 73, 0.596);
    transition: text-shadow 1s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}


@media only screen and (max-width: 600px) {
    .quickTutorSummary { 
        font-size: 1em;
    }

    .readMoreContainer { 
        margin: 5% auto;
    }
    .readMore {
       font-size: 1.5em;
    }
}