.quickEducationInfoContainer{ 
    width: 100%;
    margin: 0px auto 55px auto;
    flex-wrap: nowrap;
    
}
.quickEducationInfoCard { 
    width: 33.33%;
    margin: 25px auto 15px auto;
    display: block;
    float: left;
    height: 100%;
}
.quickEducationContainer {
    
    align-content: center;
}
.schoolEmblem {
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.schoolName, .schoolDuration, .schoolDegree { 
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.schoolName { 
    font-weight: bolder;
}
.schoolRolesContainer{ 
    width: 100%;
    display: block;
    height: 300px;
    margin: 25px auto 25px auto;
}

.readMoreContainer { 
    width: 100%;
    display: block;
    margin-top: 125px;
}
.readMore { 
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    padding: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid black;
}

.readMore:hover { 
    cursor: pointer;
    text-shadow: 0.2px 0.2px 2px rgba(0, 0, 0, 0.39);
}

.quickEducationRoleList {
    list-style: none;
    text-align: center;
    margin-top: 35px;
    
}

.educationRole {
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Thasadith', sans-serif;
    color: rgb(102, 100, 100);
    padding: 5px;
    font-size: 1em;
}


@media only screen and (max-width: 600px) {

    .quickEducationInfoContainer { 
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        height: 100%;
    }
    .quickEducationInfoCardContainer, .schoolRolesContainer { 
        width:  100%;
        margin: 0 auto;
        display: block;
        flex-wrap: wrap;
        float: left;
        height: 100%;
    }

    .quickEducationInfoCard{ 
        width: 100%;
        margin: 0 auto;
        display: block;
        float: left;
        font-size: 0.8em;
        height: 100%;
    }

    .schoolEmblem { 
        height: 100px;
    }
    .schoolName, .schoolDuration, .schoolDegree {
        font-size: 1em;
    }

    .quickEducationRoleList {
        margin: 50px auto;
        font-size: 1em;
        padding: 0;
    }
}