<app-nav-bar></app-nav-bar>
<div class = "mainBioPageContainer">

    <div class = "mainBioWelcomeBanner">
        <h1 class = "mainBioWelcomeHeading"> Biology Experience </h1>
    </div>

        <div class = "mainBioInfoBannerContainer">
                <div class = "belizeSummaryPageContainer">
                        <div class = "titleContainer">
                            <h2 class = "researchTitle"> Belize Field Study </h2>
                            <p class = "researchDate"> May - June 2014</p>
                            <p class = "researchPosition"> Field Study Student </p>
                            <p class = "researchLocation"> Belize </p>
                        </div>
                        <div class = "imgContainer">
                                <img id = "belizeImg" class = "mainBelizeBioImg" src = {{belizePictures[0].url}}>
                                <div class = "pictureElementsContainer">
                                    <div class = "imgDescriptionContainer">
                                        <p id = "belizeImgDescription" class = "pictureDescription"> {{ belizePictures[0].description }} </p>
                                    </div>
                                    <div class = "belizeSlideControlsContainer">
                                        <h1 class = "belizeSlideControl" (click) = "prevBelizeSlide()"> < </h1>
                                        <h1 class = "belizeSlideControl" (click) = "nextBelizeSlide()"> > </h1>
                                    </div>
                                </div>
                        </div>

                        <div class="summaryAndLinksContainer">
                            <div class="summaryContainer">
                                <p class="researchSummary">
                                        I took a semester class with Dr. Jon Evans in which we studied the biodiversity, ecosystems, ecological concerns, and history of Belize. 
                                        We focused on the Belizean rainforests and coral reefs. In the summer we had an amazing opportunity to travel to both ecosystems. 
                                        While in the rainforest we stayed and collaborated with The Belize Foundation for Research and Environmental Education (BFREE). 
                                        We stayed on South Water Caye for our continuous study on the coral reefs, there we met and collaborated with the Smithsonian Environmental Research Center. 
                                        At both sites we conducted small experiments.
                                </p>
                            </div>
                            <div class="relevantLinksContainer">
                                <div class="relevantLinksHeaderContainer">
                                    <h3 class="relevantLinksHeader"> Relevant Links </h3>
                                </div>
                                <div class="relevantLinksListContainer">
                                    <ul class="relevantLinks">
                                        <li class="relevantLinkItem"> <a href="http://biology.sewanee.edu/resources/summer-and-international-programs/field-study-in-belize/">
                                                Belize Field Study Program </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </div> 
          </div>
        



    <div class = "mainBioInfoBannerContainer">
        <div class = "gambusiaSummaryPageContainer">
          <div class = "titleContainer">
              <h2 class = "researchTitle"> Mosquitofish as a Bioindicator <br> for Environmental Quality</h2>
              <p class = "researchDate"> Fall 2014 - Spring 2017 </p>
              <p class = "researchPosition"> Research Assistant </p>
              <p class = "researchLocation"> Biology Department: The University of the South</p>
          </div>


          <div class = "imgContainer">
                <img id = "gambusiaImg" class = "mainGambusiaBioImg" src = {{gambusiaAffinisPics[0].url}}>
                <div class = "pictureElementsContainer">
                    <div class = "imgDescriptionContainer">
                        <p id = "gambusiaImgDescription" class = "pictureDescription"> {{ gambusiaAffinisPics[0].description }} </p>
                    </div>
                    <div class = "gambusiaSlideControlsContainer">
                        <h1 class = "gambusiaSlideControl" (click) = "prevGambusiaSlide()"> < </h1>
                        <h1 class = "gambusiaSlideControl" (click) = "nextGambusiaSlide()"> > </h1>
                    </div>
                </div>
            </div>

            <div class="summaryAndLinksContainer">
                    <div class = "summaryContainer">
                            <p class = "researchSummary">
                                    As a research assistant for Dr. Brandon Moore's study of using mosquitofish (Gambusia affinis) as a bioindicator for environmental quality, I was responsible for many tasks including collecting juvenile, male, and female specimens from our university’s domain sewage plant and local water bodies. 
                                    In addition, inputting all physical data within a master Excel data sheet. Once we allocated all data, we researched various scientific literature to help us formulate an effective protocol to begin the clearing and staining specimens. 
                                    We decided on clearing and staining the specimens due to clear visibility of bone and cartilage, which allows for clearer measurements on sexual dimophic traits, such as the hemal spines present in both adult female and male Gambusia and gonodopdium and anal fin on the male and female respectively. 
                                    We recorded all our findings in an Excel sheet. I trained incoming research members on creating and stocking solutions, performing protocols, and inputting data in our master Excel data sheet.
                                    <br>
                                    We collaborated with Dr. Brian Langerhans lab from North Carolina State University <br>to X-ray our specimens in order for us to compare and contrast our original measuring method results, clearing and stating  to X-ray. Upon analyzing all of our data we commenced in creating posters of our findings. Through our findings we were invited to regional and national conferences in two different states:
                            </p> 
                              <ul class = "insideInfoList">
                                <li class = "insideInfoListItem"> Southeastern Society of Integrative and Comparative Biology Conference <br> at Georgia Tech inAtlanta, GA</li>
                                <li class = "insideInfoListItem"> Society of Integrative and Comparative Biology Conference in Portland, OR </li>
                                <li class = "insideInfoListItem"> Society of Integrative and Comparative Biology Conference in New Orleans, LA </li>
                              </ul>
                            <p class = "researchSummary">
                                    There, I presented our findings: "Raised in a sewage treatment plant: Assessing sexually dimorphic skeletal elements in Gambusia affinis" and "Comparing Two Techniques of Analyzing Sexual Dimorphic Gambusia affinis Skeletal Structure: Clearing and Staining to X-Ray" at each respective conference. 
                                    Furthermore, my article "Using Mosquito (Gambusia affinis) as bioindicator for environmental quality on the domain" was published in my University's Science Journal
                                </p> 
                            
                          </div>
                          <div class = "relevantLinksContainer">
                                <div class = "relevantLinksHeaderContainer">
                                    <h3 class = "relevantLinksHeader"> Relevant Links </h3>
                                </div>
                                <div class = "relevantLinksListContainer">
                                    <ul class = "relevantLinks">
                                        <li class = "relevantLinkItem"> <a href = "http://www.sewanee.edu/media/academics/medical-and-health/pdf/JoSS-Advent-2016_spreads.pdf#page=22"> 
                                            Published Work: "Using Mosquito (Gambusia affinis) as bioindicator for environmental quality on the domain" </a></li>
                                    </ul>
                                </div>
                            </div>
            </div>
        </div> 
      </div>


      <div class = "mainBioInfoBannerContainer">
            <div class = "gambusiaSummaryPageContainer">
              <div class = "titleContainer">
                  <h2 class = "researchTitle"> Mouse Hepatitis Virus (MHV) <br> Dr. Smith's Lab </h2>
                  <p class = "researchDate"> Fall 2016 - Spring 2017 </p>
                  <p class = "researchPosition"> Research Assistant </p>
                  <p class = "researchLocation"> Biology Department: The University of the South</p>
              </div>
    
    
              <div class = "imgContainer">
                    <img id = "virologyImg" class = "mainGambusiaBioImg" src = {{virologyPictures[0].url}}>
                    <div class = "pictureElementsContainer">
                        <div class = "imgDescriptionContainer">
                            <p id = "virologyImgDescription" class = "pictureDescription"> {{ virologyPictures[0].description }} </p>
                        </div>
                    </div>
                </div>
    
                <div class="summaryAndLinksContainer">
                        <div class = "summaryContainer">
                                <p class = "researchSummary">
                                    Dr. Smith’s lab focused on murine strain of coronavirus, mouse hepatitus virus (MHV), as a model to understand the human pathogens SARS-CoV and MERS-CoV. 
                                    The objective was to study viral replication in murine brain cells with the goal to learn more about how coronaviruses evolve and replicate. 
                                    While under Dr. Smith’s lab assisted with restocking solutions for the lab’s experiments. 
                                    I monitored, maintained, and passaged murine cell culture. 
                                    I performed plaque assay, viral replication assay, and real-time quantitative PCR (RT-qPCR) to culture. 
                                    In addition, we attended bi-weekly meetings and provided feedback on assigned scientific literature. 
                                </p> 
                              
                                
                              </div>
                              <div class = "relevantLinksContainer">
                                    <div class = "relevantLinksHeaderContainer">
                                        <h3 class = "relevantLinksHeader"> Relevant Links </h3>
                                    </div>
                                    <div class = "relevantLinksListContainer">
                                        <ul class = "relevantLinks">
                                            <li class = "relevantLinkItem"> <a href = "http://clintsmith31.wixsite.com/coronavirus?fbclid=IwAR0vz_Bn3Bm-RrssZPxdKhY_DPDRTmdhg8MVyeRjFUtlvSDg_VX25vesHjQ"> 
                                                Virology in Sewanee  </a></li>
                                        </ul>
                                    </div>
                                </div>
                </div>
            </div> 
          </div>

</div>