.mainBioImgBannerContainer {
    width: 100%;
    height: 550px;
    margin:0 auto;
    background-color: black;
}
.mainBelizeBioImg { 
    width: 60%;
    display: block;
    margin: 0 auto;
    height: 500px;
}

.belizeSlideControlsContainer { 
    width: 50%;
    margin: 0 auto;
    display: block;
    height: 100px; 
    
}
.belizeSlideControl {
    width: 50%;
    display: block;
    float: left;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
}
.belizeSlideControl:hover {
    cursor: pointer;
    color:rgb(241, 213, 50);
}
.belizeSummaryPageContainer {
    width: 40%;
    margin: 0 auto;
}

.belizeSummary { 
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.pictureDescription {
    color: white;
    font-size: 30px;
}