<div class = "aboutMeContainer">
   <div class = "aboutMePictureContainer"> 
     <img class = "aboutMePicture" src = "../assets/imgs/ashPic.jpg">
   </div>
   <div class = "aboutMeSummaryContainer">
     <div class = "aboutMeNameContainer">
        <h1 class = "aboutMeName"> Ashley Malpica </h1>
     </div>
   </div>
   <div class = "welcomeContainer">
    <p class = "welcomeSummary">
      Hello and welcome! 
      I am Ashley Malpica, a recent graduate who majored in both Biology and Russian.
      Through out this site you'll learn more about me and my experiences as both a Biology research assistant and a tutor! 
      Speaking of which, I am offering  personal tutoring services! Click below for more details.
    </p>
    <h1 class = "tutoringServices"> Tutoring Services </h1>
   </div>
</div>