.aboutMeContainer {
   width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0%;
    background-size: cover;
    padding-bottom: 5%;
}

.aboutMePictureContainer{ 
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    display: block;
}
.aboutMePicture { 
    border-radius: 100%;
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.86);
}
.aboutMeSummaryContainer {
    margin-top: 3%;
}
.aboutMeNameContainer{ 
    width: 100%;
    margin: 0 auto;
}
.aboutMeName { 
    color: black;
    display: block;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 5px;
}
.blackStripContainer { 
    width: 100%;
    display: block;
    margin: 20% auto 0% auto;
}

.blackStrip { 
    height: 300px;
    background-color: black;
    width: 100%;
}