.quickBioExpContainer {
    width: 100%;
    margin: 0 auto 10px auto;
    height: 600px;
    
}
.card { 
    background-color: black;
    padding-bottom: 0%;
}
.quickBioExpImgsContainer, .quickBioExpSummaryContainer {
    display: block;
    margin: 0 auto;
    float: left;
    height: 100%;
    height: 600px;
}
.quickBioExpSummaryContainer {
    width: 25%;
    background-color: black;
    height: 100%;
}

.quickBioExpImgsContainer {
    width: 75%;
}

.bioImg { 
    width: 100%;
}

.quickBioSummary {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px black;
    margin: 15% 0;
    text-align: center;
    padding: 5% 0% 22% 0%;
}

.readMore {
    
    color: white;
    font-size: 2em;
    font-family: 'Staatliches', cursive, sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 2px 5px;
    margin-top: 169px;
}

.readMore:hover{
    cursor: pointer;
    color: goldenrod;
    transition: color 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}