<div class = "quickAddExpContainer">
  <div *ngFor = "let quickAddExp of quickExp">
      <div class = "quickAddExpImgContainer">
        <div class = "addExpImgs" *ngFor = "let photo of quickAddExp.photos">
          <img class = "addExpImg" src = {{photo}} alt = "My Experience Photos">
        </div>
      </div>
      <div class = "quickAddExpSummaryContainer">
        <p class = "addExpSummary"> {{quickAddExp.summary}} </p>
        <h1 class = "readMore" (click) = "toggleSlideDown()"> Read More </h1>
      </div>
  </div>

      <div class = "additionalExperiencesContainer">
          <div [@slideDown] = "animationState" class = "additionalExperiences">
            <div class = "experienceCards" *ngFor = "let experience of addExperiences">
                <app-experience-info-card [experienceObj] = experience ></app-experience-info-card>
            </div>
          </div>
        </div>
</div>