.quickAddExpContainer {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: black;
}
.additionalExperiencesContainer {
    width: 100%;
    margin: 0px auto;
    display: block;
    flex-wrap: nowrap;
}
.additionalExperiences {
    margin: 10px auto;
    height: 100%;

}

.addExpImgs{
    width: 100%;
}
.addExpImg {
    width: 100%;
}
.quickAddExpImgContainer {
    width: 100%;
}

.quickAddExpSummaryContainer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
}

.addExpSummary {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}

.readMoreContainer{
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 100%;
}

.readMore {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 0.5px 0.5px black;
    background-color: black;
}
/* .readMore:hover { 
    cursor: pointer;
   color: goldenrod;
    transition: color 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
} */
.experienceCards { 
    width: 33%;
    display: block;
    margin: 0 auto;
    float: left;
    height: 100%;
}


@media only screen and (max-width: 800px) { 

    .addExpSummary { 
        width: 100%;
        font-size: 1em;
    }
    .experienceCards {
        width: 100%;
    }
    
}
@media only screen and (max-width: 600px) { 

    .addExpSummary { 
        width: 100%;
        font-size: 1em;
    }
    .experienceCards {
        width: 100%;
    }
    
}