<div class = "quickAddExpContainer">
      <div class = "quickAddExpImgContainer">
        <div class = "addExpImgs">
          <img class = "addExpImg" src = "../assets/imgs/ashSMHS2.jpg" alt = "My Experience Photo">
        </div>
      </div>
      <div class = "quickAddExpSummaryContainer">
        <p class = "addExpSummary"> 
            Experiences are only as great as the people who are part of it. 
            Thankfully, I worked with many great people in my endeavours as a Co-Founder of Sewanee's Multicultural Health Society 
            and the Sewanee Academic Diversity Cohort. </p>
      </div>

  <div class = "additionalExperiencesContainer">
    <div class = "additionalExperiences">
      <div class = "experienceCards" *ngFor = "let experience of addExperiences">
        <app-experience-info-card [experienceObj] = experience ></app-experience-info-card>
      </div>
    </div>
  </div>

  <div class = "readMoreContainer">
    <h1 class = "readMore" (click) = "toggleSlideDown()"> Read More </h1>
  </div>

</div>